@media (min-width: 450px) {
	body {
		max-width: 450px;
		margin: auto;
	}
}

form {
	text-align: right;
}
form label {
	float: left;
}
form .options-form-footer {
	text-align: left;
}

#options-saved {
	visibility: hidden;
}
